.container {
  padding: 150px 30px 30px;
  position: relative;

  @media screen {
    @media (min-width: $tablet) {
      padding: 30px 120px 30px;
    }

    @media (min-width: $desktop) {
      padding: 80px 200px 30px;
    }
  }
}
