body, h1, h2, h3, h4, p, label, input, button, div, ul, li, img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
}

body {
  background-color: #000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
  width: 100%;
}