@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

h1, h2, h3, h4, p, label, button, span {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: $white;
}