.albumCard {
  display: flex;
  flex-direction: column;
  background-color: #ffffff00;
  padding: 10px;
  transition: background-color .3s ease;

  .albumCover {
    margin-bottom: 5px;
  }

  .albumName {
    font-size: 12px;
    line-height: 20px;
    color: $lightGray;
    margin: 5px 0;
    text-align: center;
  }

  .artistName {
    font-size: 12px;
    line-height: 18px;
    color: $gray;
    margin: 5px 0;
    text-align: center;
  }

  &:hover {
    background-color: #ffffff33;

  }

  @media screen {
    @media (min-width: $tablet) {
      .albumName, .artistName {
        font-size: 14px;
      }
    }

    @media (min-width: $laptop) {
      padding: 20px;
    }
  }
}