.albumView {
  display: flex;
  flex-direction: column;

  .albumInfo {
    margin-bottom: 50px;

    .albumCover {
      max-width: 340px;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .albumName {
      font-size: 18px;
      text-align: center;
      margin-bottom: 10px;
    }
  
    .artistName {
      font-size: 14px;
      color: $gray;
      display: block;
      margin: auto;
    }

  }
  
  .albumSongs {
    flex: 1;
  }

  @media screen {
    @media (min-width: $laptop) {
      flex-direction: row;

      .albumInfo {
        margin-bottom: 0;
        margin-right: 50px;

        .albumCover {
          min-width: 340px;
        }
      }
    }
  }

}