.backButton {
  font-size: 18px;
  margin-bottom: 30px;
  position: absolute;
  top: 20px;
  left: 20px;

  &:before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    height: 8px;
    width: 8px;
    border-top: 2px solid $white;
    border-left: 2px solid $white;
    transform: rotate(-45deg);
    margin-right: 5px;
  }

  @media screen {
    @media (min-width: $phablet) {
      margin-bottom: 50px;
    }

    @media (min-width: $tablet) {
      position: unset;
    }
  }
}
