.field {
  position: relative;
  margin-bottom: 50px;
  transition: transform 1s ease;
  min-width: 100%;
  
  label {
    display: block;
    margin-left: 10px;
    font-size: 12px;
    color: $gray;
  }

  input {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $white;
    font-size: 24px;
    font-weight: 700;
    color: $white;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      outline: none;
    }
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 0;
    margin: auto;
    height: 1px;
    background-color: $lightGreen;
    transition: max-width .3s ease;
    box-shadow: 0 0 10px 2px $green;
  }

  &.fieldOnFocus {
    &:before {
      max-width: 100%;
    }
  }

  @media screen {
    @media (min-width: $phablet) {

      label {
        font-size: 14px;
      }

      input {
        font-size: 34px;
      }
    }

    @media (min-width: $tablet) {
      margin-bottom: 80px;

      label {
        font-size: 18px;
      }

      input {
        font-size: 48px;
      }
    }
  }
}
