.logo {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 4;

  h1 {
    font-size: 16px;
    font-weight: 700;
    color: $green;
    
    span {
      color: $white;
      width: unset;
    }
  }

  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("../images/spotfy.svg");
    background-size: cover;
    margin-bottom: 10px;
  }

  @media screen {
    @media (min-width: $tablet) {
      left: 30px;
      right: unset;
      margin: 0;
    }
  }
}
