.songCard {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .songTrack {
    font-size: 18px;
    color: $gray;
    margin-right: 20px;
    width: 25px;
  }

  .songName {
    color: $white;
    flex: 1;
    font-size: 16px;
    line-height: 22px;
  }

  .songTime {
    color: gray;
    margin-left: 20px;
    max-width: 50px;
  }

  .playerButton {
    min-width: 30px;
    margin-left: 20px;

    &:before {
      content: "";
      display: block;
      width: 0px;
      height: 0px;
      border-left: solid 15px $white;
      border-bottom: solid 8px transparent;
      border-top: solid 10px transparent;
      margin: 6px auto 6px;

    }
    
    &.playing {
      &:before {
        width: 18px;
        height: 18px;
        border: none;
        background-color: $green;
      }
    }
  }

  &.selected {
    .songName {
      color: $green;
    }

    .playerButton {
      &::before {
        border-left-color: $green;
      }
    }
  }
}
