.squareList {
  margin-bottom: 50px;


  .listLabel {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    font-weight: 500;
  }

  .albumList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;

  }

  @media screen {
    @media (min-width: $phablet) {

      .listLabel {
        font-size: 18px;
        line-height: 22px;
      }
      .albumList {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    
    @media (min-width: $tablet) {

      .listLabel {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
      }
      .albumList {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @media (min-width: $laptop) {

      .albumCard {
        &:nth-child(5), &:nth-child(6) {
          display: none;
        }
      }

      .albumList {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @media (min-width: $desktop) {

      .albumCard {
        &:nth-child(5) {
          display: block;
        }
      }

      .albumList {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}
